* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    color: gold;
}

h1 {
    color: rgb(206, 206, 218);
}

header {
    background-color: gray;
    padding: 2rem;
}

button {
    background-color: gold;
    padding: 1rem 2rem;
    border: 2px;
    border-radius: 20px;
}

.hero {
    background-color: blue;
    min-height: 50vh;
}

.hero2 {
    background-color: green;
    min-height: 50vh;
    color: gold
}

.contact {
    background-color: brown;
}
